body {
	font-family: "PT+Sans", Arial,Helvetica,sans-serif;
	font-style: normal;
	
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: red;
	text-transform: uppercase;

	margin: 0;
	padding: 0;

	background-color: #ffffff;

}
h2 {
	font-size: 21px;
}
p {
	font-weight: 400;
}
.site-nav a:hover {
	color: #81b3d2;
}
.site-nav a:active {
	color: #766357;
}
.advantages-title {
	font-size: 21px;
}
.advantages-invite  {
	font-size: 11px;
	font-weight: 400;
}
.catalog a {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	
}