body {
	font-family: "PT Sans", Arial,Helvetica,sans-serif;
	font-style: normal;
	
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;
	
	margin: 0;
	padding: 0;
}
html {
	background-color: #f2f2f2;
}
a {
	text-decoration: none;
}
.site-nav {
	font: inherit;
	list-style: none;
}
.site-nav a {
	color: #000000;
}
.advantages-list,
.more-advantages,
.filters-option,
.sorting-main,
.sorting-active,
.catalog-list,
.footer-list  {
	list-style: none;
}
.intro {
	background-color: #9ac2db;
	background-image: url("../img/filter-maska.png"), url("../img/index-bg.jpg");
	background-position: center bottom, center top;
	background-size: 100%, cover;
	background-repeat: no-repeat;
}
.site-nav a:hover {
	color: rgba(129 179 210 .8);
}
.site-nav a:active {
	color: rgba(0 0 0 .8);
}
.site-nav-current {
	color: rgba(118 99 87 .8);
}

.advantages-title {
	color: #333333;
	font-size: 21px;
	text-align: center;
}
.advantages-subtitle  {
	color: #333333;
	font-weight: 400;
	text-align: center;
}
.advantages-photo {
	color: #ffffff;
	background-color: #81b3d2;
}
.advantages-photo h3 {
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
}
.advantages-photo p {
	font-weight: 400;
	line-height: 21px;
}
.advantages-desc,
.more-advantages {
	color: #333333;
}
.advantages-desc h3,
.more-advantages h3 {
	font-size: 21px;
	line-height: 21px;
}
.advantages-desc p,
.more-advantages p {
	font-weight: 400;
	line-height: 21px;
}
.request {
	text-align: center;
}
.request img {
	background-color: #9ac2db;
}
.request-offer {
	background-color: #ffffff;
}

.request-offer h2 {
	color: #333333;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;

}
.request-info {
	color: #333333;
	font-weight: 400;
	line-height: 24px;
}
.request-hotel-button {
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	background-color: #766357;
}
.request-hotel-button:hover {
	background-color: #604e43;
}
.request-hotel-button:active {
	background-color: #503e33;
}
.request-form {
	background-color: #ffffff;
}
.request-item label {
	color: #000000;
	
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	background-color: #ffffff;
}
.request-button {
	font-size: 21px;
	color: white;
	background-color: #81b3d2;
	text-transform: uppercase;
}
.request-button:hover {
	background-color: #669ec0;
}
.request-button:focus {
	background-color: #5496bd;
}
.request-item span {
	border: none;
	background-color: #f2f2f2;
}
#request-date-in,
#request-date-out {
	background-color: #f2f2f2;
	border: 2px solid #000000;
}
#request-date-in:hover,
#request-date-out:hover {
	background-color: #ebebeb;
}
#request-date-in:active,
#request-date-out:active {
	background-color: rgba(255 255 255 .7);
}


.inner-page {
	font-family: "PT Sans", Arial,Helvetica,sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	
	background-image: url("../img/catalog-bg.jpg");
	background-position: top left;
	background-repeat: no-repeat;
}
.main-nav {
	background-image: url("../img/catalog-bg.jpg");
	background-size: 100%, cover;
	background-position: center top;
	background-repeat: no-repeat;
}
.user-choice fieldset {
	border: none;
}

.user-choice legend {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}
.user-choice label {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #ffffff;
}

.filters-price-request {
	font-weight: 400;
	line-height: 21px;
}
.filters-price-request input {
	color: #ffffff;
	background-color: #f2f2f2;
	border: 2px solid white;
}
.hotel-variant-button {
	color: #ffffff;
	background-color: #343331;
	border: 2px solid white;
}
.hotel-variant-button:hover,
.hotel-variant-button:focus {
	color: #000000;
	background-color: #ffffff;
}
.sorting {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.catalog h2 {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.catalog-item-type,
.catalog-item-price b {
	color: rgba(51 51 51 .8);
	font-weight: 400;
	line-height: 21px;
}
.catalog-item-name {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}
.catalog-item-name:hover {
	color: #81b3d2;
}
.catalog-item-name:active {
	color: rgba(0 0 0 .5);
}
.catalog-button-info {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-color: #81b3d2;
}
.catalog-button-info:hover {
	background-color: #669ec0;
}
.catalog-button-info:active {
	background-color: #5496bd;
}
.catalog-button-order {
	font-size: 14px;
	line-height: 21px
	color: #ffffff;
	background-color: #766357;
}
.catalog-button-order:hover {
	background-color: #604e43;
}
.catalog-button-order:active {
	background-color: #503e33;
}
.catalog-item-rating {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}
.button {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
}
.hotel-variants {
	color: #ffffff;
	background-color: #343331;
	border: 2px solid #ffffff;
}
.hotel-variants:hover {
	color: #000000;
	background-color: #ffffff;
}
.sorting-main-price {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: #81b3d2;
}
.sorting-main-type,
.sorting-main-rating {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: rgba(0 0 0 .8);
	text-decoration: underline;
}
.sorting-main-type:hover,
.sorting-main-rating:hover {
	color: rgba(129 179 210 .8);
	text-decoration: underline;
}
.sorting-main-type:active,
.sorting-main-rating:active {
	color: #000000;
	text-decoration: none;
}
.sorting-active-up {
	color: #81b3d2;
}
.sorting-price-down {
	color: rgba(0 0 0 .5);
}

.footer-main-button {
	font-size: 21px;
	color: #000000;
}
.footer-copyright span {
	font-weight: 400;
	line-height: auto;
	color: rgba(0 0 0 .7);
}
.footer-copyright-logo {
	color: #000000;
}
.footer-copyright-logo:hover {
	color: rgba(129 179 210 .7);
}

.footer-copyright-logo:active {
	color: rgba(0 0 0 .8);
}
.footer-list {
	text-align: center;
}
.social-button {
	color: #ffffff;
	background-color: #81b3d2;
}
.social-button:hover {
	background-color: #669ec0
}
.social-button:active {
	background-color: #5496bd;
}