body {
	font-family: "PT+Sans", Arial,Helvetica,sans-serif;
	font-style: normal;
	
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	margin: 0;
	padding: 0;

	background-color: #ffffff;
	background-image: url("img/index-bg.jpg");
	background-position: top left;
	background-repeat: no-repeat;
}
a {
	text-decoration: none;
}
.site-nav {
	list-style: none;
}
.site-nav a {
	color: #000000;
}
.advantage-list,
.more-advantages,
.filters-option,
.sorting-one,
.sorting-two,
.catalog-list,
.footer-list  {
	list-style: none;
}
.intro {
	background-image: url("img/index-bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}
h2 {
	font-size: 21px;
}
p {
	font-weight: 400;
}
.site-nav a:hover {
	color: #81b3d2;
}
.site-nav a:focus {
	color: #766357;
}
.site-nav-current {
	color: #766357;
}

.font-size-21 {
	font-size: 21px;
	text-align: center;
}
.font-size-11  {
	font-size: 11px;
	font-weight: 400;
	text-align: center;
}
.request {
	text-align: center;
}
.request-info-title {
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	background-color: #766357;
}
.request-info-title:hover {
	background-color: #604e43;
}
.request-info-title:focus {
	background-color: #503e33;
}
.request-button {
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	background-color: #81b3d2;
}
.request-button:hover {
	background-color: #669ec0;
}
.request-button:focus {
	background-color: #5496bd;
}
.request-item input {
	background-color: #f2f2f2;
	border: 2px solid #000000;
}
.request-item input:hover {
	background-color: #ebebeb;
}
.request-item input:focus {
	background-color: #ffffff;
}
.city-text-photo,
.diabolo-text-photo {
	background-color: #81b3d2;
}
.inner-page {
	background-color: #ffffff;
	background-image: url("img/catalog-bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}
.filters fieldset {
	border: none;
}
.catalog a {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	
}
legend {
	font-size: 16px;
	line-height: 21px;
}
label {
	font-weight: 400;
	line-height: 21px;
}
.sorting {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.catalog-item-type,
.catalog-item-rating,
b {
	font-weight: 400;
	line-height: 21px;
}
.button {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
}
.footer-copyright span {
	font-weight: 400;
}
.footer-list {
	text-align: center;
}