body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;
}
html {
	min-width: 1120px;
	min-height: 2000px;
	background-color: #f2f2f2;
}
a {
	text-decoration: none;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.advantages-list,
.more-advantages,
.filters-option,
.sorting-main,
.sorting-active,
.catalog-list,
.footer-list  {
	list-style: none;
}
.intro {
	background-color: #9ac2db;
	background-image: url("../img/filter-maska.png"), url("../img/index-bg.jpg");
	background-position: center bottom, center top;
	background-size: 100%, cover;
	background-repeat: no-repeat;
}
.site-nav {
	font: inherit;
	list-style: none;
}
.site-nav a {
	color: #000000;
}
.site-nav a:hover {
	color: rgba(129,179,210, .8);
}
.site-nav a:active {
	color: rgba(0,0,0, .8);
}
.site-nav-current {
	color: rgba(118,99,87, .8);
}

.more-advantages-item {
	width: 200px;
	margin-left: 20px;
	text-align: center;
}
.advantages-title {
	color: #333333;
	font-size: 21px;
	text-align: center;
}
.advantages-subtitle  {
	color: #333333;
	font-weight: 400;
	text-align: center;
}
.advantages-photo {
	color: #ffffff;
	background-color: #81b3d2;
}
.advantages-photo h3 {
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
}
.advantages-photo p {
	font-weight: 400;
	line-height: 21px;
}
.advantages-desc,
.more-advantages {
	color: #333333;
}
.advantages-desc h3,
.more-advantages h3 {
	font-size: 21px;
	line-height: 21px;
}
.advantages-desc p,
.more-advantages p {
	font-weight: 400;
	line-height: 21px;
}
.request {
	text-align: center;
}
.request img {
	background-color: #9ac2db;
}
.request-offer {
	background-color: #ffffff;
}

.request-offer h2 {
	color: #333333;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;

}
.request-info {
	color: #333333;
	font-weight: 400;
	line-height: 24px;
}
.request-hotel-button {
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	background-color: #766357;
}
.request-hotel-button:hover,
.request-hotel-button:focus {
	background-color: #604e43;
}
.request-hotel-button:active {
	background-color: #503e33;
}
.request-form {
	background-color: #ffffff;
}
.request-item label {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.request-item input {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	color:#000000;
	background-color: #f2f2f2;
}
.request-item input:hover {
	background-color: #ebebeb;
}
.request-item input:focus {
	background-color: #ffffff;
}
.request-date-in,
.request-date-out {
	background-color: rgba(242,242,242,.5);
}
.request-date-in:hover,
.request-date-out:hover {
	background-color: #ebebeb;
}
.request-date-in:active,
.request-date-out:active {
	background-color: rgba(255,255,255, .7);
}
.request-adults-number,
.request-childs-number {
	color: #a9a9a9;
	background-color: #f2f2f2;
}
.request-adults-number:hover,
.request-childs-number:hover {
	color: #000000;
}
.request-adults-number:active,
.request-childs-number:active {
	color: #81b3d2;
}

.inner-page {
	font-family: "PT+Sans", Arial,Helvetica,sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
	margin: 0;
	padding: 0;

}
.main-nav {
	background-color: #ffffff;
}
.user-choice fieldset {
	border: none;
}
.filters {
	background-image: url("../img/catalog-bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}
.user-choice legend {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}
.user-choice label {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #ffffff;
}

.filters-price-request {
	font-weight: 400;
	line-height: 21px;
}
.filters-price-request input {
	color: #ffffff;
	background-color: transparent;
	border: 2px solid white;
}
.hotel-variant-button {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
}
.hotel-variant-button:hover,
.hotel-variant-button:focus {
	color: #000000;
	background-color: #ffffff;
}

.catalog h2 {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.catalog-item-type,
.catalog-item-price b {
	color: #333333;
	font-weight: 400;
	line-height: 21px;
}
.catalog-item-name {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}
.catalog-item-name:hover {
	color: #81b3d2;
}
.catalog-item-name:active {
	color: rgba(0,0,0, .5);
}
.catalog-button-info {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-color: #81b3d2;
}
.catalog-button-info:hover {
	background-color: #669ec0;
}
.catalog-button-info:active {
	background-color: #5496bd;
}
.catalog-button-order {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-color: #766357;
}
.catalog-button-order:hover {
	background-color: #604e43;
}
.catalog-button-order:active {
	background-color: #503e33;
}
.catalog-item-rating {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}
.button {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
}
.sorting {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.sorting-main .sorting-link-active {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: #81b3d2;
	border-bottom: none;
}

.sorting-main a {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: rgba(0,0,0, .8);
	border-bottom: 1px dotted #000000;
}

.sorting-main a:hover {
	color: rgba(129,179,210, .8);
	border-bottom: 1px dotted #81b3d2;
}

.sorting-main a:active {
	color: #000000;
	text-decoration: none;
}


.footer-copyright {
	width: 300px;
	margin: 0;
	margin-left: auto;
	max-height: 50px;

}
.footer-copyright span {
	font-weight: 400;
	line-height: 26px;
	color: #000000;
}
.footer-copyright-logo {
	color: #000000;
}
.footer-copyright-logo:hover {
	color: rgba(129,179,210, .7);
}

.footer-copyright-logo:active {
	color: rgba(0,0,0, .8);
}
.footer-list {
	text-align: center;
}
.social-button span {
	color: #ffffff;
	background-color: #81b3d2;
}
.social-button span:hover {
	background-color: #669ec0
}
.social-button span:active {
	background-color: #5496bd;
}
/*----Сетки------*/
.main-header {
	margin-bottom: 30px;
	min-height: 70px;
}
.site-nav {
	width: 1200px;
	display: flex;
	flex-direction: row;
	padding: 20px 70px;
	justify-content: space-between;
}
.main-nav-logo {
	width: 190px;
	min-height: 70px
	margin-left: 500px;
}

.container {
	width: 1200px;
	margin: 0;
	padding: 0;
}
.intro {
	width: 120px;
	min-height: 540px;
}
.advantages {
	width: 1200px;
	min-height: 200px;
}
.advantages-list {
	width: 1200px;
	min-height: 500px;
}
.advantages-photo {
	width: 1200px;
	min-height: 250px;
}

.index-advantages  {
	width: 1200px;
	margin: 0;
	padding: 0;
	min-height: 250px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.advantages-desc {
	width: 200px;
	margin-left: 20px;
}
.more-advantages {
	width: 1200px;
	margin: 0;
	padding: 0;
	min-height: 330px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.request {
	width: 1200px;
	min-height: 750px;
}
.request-offer {
	width: 1200px;
	min-height: 300px;
}
.request-form {
	width: 570px;
	min-height: 480;
}
.footer {
	margin-top: 50px;

}
.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.footer-main-button {
	font-size: 21px;
	color: #000000;
	width: 300px;
	margin: 0;
	margin-right: 100px;
	min-height: 120px;
	
}
.footer-social {
	width: 145px;
	min-height: 120px;
	margin: 0;
	margin-left: 100px;
	
}
.footer-copyright {
	width: 150px;
	margin: 0;
	margin-left: auto;
	max-height: 120px;

}
.footer-list {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 10px;
	justify-content: center;
}
.social-button span{
	width: 50px;
	margin-left: 5px;
}
.user-choice {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	min-height: 300px;
}
.filters-infrastructure {
	width: 300px;
	min-height: 280px;
	margin-left: 100px;
}
.filters-accomodation {
	width: 300px;
	min-height: 280px;
}
.filters-price {
	width: 300px;
	min-height: 280px;

}
.sorting {
	margin-top: 150px;
}

